@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 11 10 20;
  --fg: 236 235 245;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

::selection {
  background-color: #ff7fb0;
  color: #0b0a14;
}
